<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.castelaofpe.helptech">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>  //TOMAR FOTO
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>  //GUARDAR FOTO
    <uses-permission android:name="android.permission.CAMERA"/>  //ABRIR CAMARA



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".inicio.DescripcionActivity"></activity>
        <activity android:name=".inicio.InicialActivity" />
        <activity android:name=".principal.PreguntaDetalleActivity" />
        <activity android:name=".inicio.PreinicialActivity" />
        <activity android:name=".PruebaActivity" />
        <activity android:name=".principal.MainActivity" />
        <activity android:name=".perfil.MensajesActivity" />
        <activity android:name=".inicio.PreferenciasActivity" />
        <activity android:name=".perfil.ConfigActivity" />
        <activity android:name=".inicio.FotoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>